.progress-bar-container {
  position: fixed;
  right: 0; 
  width: 30%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 15px 20px; 
  margin: 15px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  border-radius: 15px; 
  z-index: 100;
  bottom: 0;
}

@media (min-width: 768px) {
  .progress-bar-container {
    right: 0; 
    bottom: 0;
  }
}

@media (max-width: 767px) {
  .progress-bar-container {
    left: 50%; 
    transform: translateX(-50%); 
    width: 90%; 
    margin: 10px 0; 
  }
}

.progress-bar {
  height: 5px;
  background-color: #444;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 5px;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  border-radius: 3px;
}

.progress-info {
  font-size: 14px;
}
