<div *ngIf="fundDetail" class="p-4">
  <div>
    <img class="h-12 w-auto" [src]="fundDetail.logo_url" alt="" />
  </div>
  <div class="mt-4 font-bold text-2xl">{{ fundDetail.scheme_name }}</div>
  <div class="mt-4">
    <mat-chip-listbox>
      <mat-chip>{{ fundDetail.category }}</mat-chip>
      <mat-chip>{{ fundDetail.sub_category }}</mat-chip>
      <mat-chip>{{ fundDetail.return_stats[0].risk }} risk</mat-chip>
      <mat-chip
        *ngIf="
          fundDetail.lock_in?.years != null &&
          fundDetail.lock_in?.months != null &&
          fundDetail.lock_in?.days != null
        "
      >
        <span
          *ngIf="
            fundDetail.lock_in?.years != null && fundDetail.lock_in?.years != 0
          "
          >{{ fundDetail.lock_in.years }}Y</span
        >
        <span
          *ngIf="
            fundDetail.lock_in?.months != null &&
            fundDetail.lock_in?.months != 0
          "
          >{{ fundDetail.lock_in.months }}M</span
        >
        <span
          *ngIf="
            fundDetail.lock_in?.days != null && fundDetail.lock_in?.days != 0
          "
          >{{ fundDetail.lock_in.days }}D</span
        >
        Lock In <mat-icon class="lock_icon">lock</mat-icon>
      </mat-chip>
    </mat-chip-listbox>
  </div>

  <div class="mt-3">
    <div *ngIf="months == 1 && fundDetail.return_stats[0].return1m">
      <span class="font-bold text-lg">{{
        fundDetail.return_stats[0].return1m / 100 | percent : "1.2-5"
      }}</span>
      <span class="text-slate-400">&nbsp;&nbsp;&nbsp; 1Y annualised</span>
    </div>
    <div *ngIf="months == 6 && fundDetail.return_stats[0].return6m">
      <span class="font-bold text-lg">{{
        fundDetail.return_stats[0].return6m / 100 | percent : "1.2-5"
      }}</span>
      <span class="text-slate-400">&nbsp;&nbsp;&nbsp; 1Y annualised</span>
    </div>
    <div *ngIf="months == 12">
      <span class="font-bold text-lg">{{
        fundDetail.stats[0].stat_1y / 100 | percent : "1.2-5"
      }}</span>
      <span class="text-slate-400">&nbsp;&nbsp;&nbsp; 1Y annualised</span>
    </div>
    <div *ngIf="months == 36">
      <span class="font-bold text-lg">{{
        fundDetail.stats[0].stat_3y / 100 | percent : "1.2-5"
      }}</span>
      <span class="text-slate-400">&nbsp;&nbsp;&nbsp; 3Y annualised</span>
    </div>
    <div *ngIf="months == 60">
      <span class="font-bold text-lg">{{
        fundDetail.stats[0].stat_5y / 100 | percent : "1.2-5"
      }}</span>
      <span class="text-slate-400">&nbsp;&nbsp;&nbsp; 1Y annualised</span>
    </div>
    <div
      *ngIf="months == 1000 && fundDetail.return_stats[0].return_since_created"
    >
      <span class="font-bold text-lg">{{
        fundDetail.return_stats[0].return_since_created / 100
          | percent : "1.2-2"
      }}</span>
      <span class="text-slate-400">&nbsp;&nbsp;&nbsp; 1Y annualised</span>
    </div>
    <div
      *ngIf="fundDetail.return_stats[0].return1d"
      [ngClass]="{
        'text-green-400': fundDetail.return_stats[0].return1d > 0,
        'text-red-400': fundDetail.return_stats[0].return1d < 0
      }"
    >
      {{ fundDetail.return_stats[0].return1d / 100 | percent : "1.2-5"
      }}<span class="text-slate-400">&nbsp;&nbsp;&nbsp; 1D</span>
    </div>
  </div>

  <div class="p-8">
    <canvas id="canvas"></canvas>
    <div class="flex item-center justify-between">
      <mat-chip-listbox class="w-fit">
        <mat-chip
          *ngIf="fundDetail.return_stats[0].return1m"
          (click)="getChart(1)"
          >1M</mat-chip
        >
        <mat-chip
          *ngIf="fundDetail.return_stats[0].return6m"
          (click)="getChart(6)"
          >6M</mat-chip
        >
        <mat-chip *ngIf="fundDetail.stats[0].stat_1y" (click)="getChart(12)"
          >1Y</mat-chip
        >
        <mat-chip *ngIf="fundDetail.stats[0].stat_1y" (click)="getChart(36)"
          >3Y</mat-chip
        >
        <mat-chip *ngIf="fundDetail.stats[0].stat_1y" (click)="getChart(60)"
          >5Y</mat-chip
        >
        <mat-chip
          *ngIf="fundDetail.return_stats[0].return_since_created"
          (click)="getChart(1000)"
          >All</mat-chip
        >
      </mat-chip-listbox>
    </div>
  </div>

  <div class="mt-4 grid grid-rows-2 md:grid-rows-4 grid-flow-col gap-4">
    <div>
      <strong>NAV {{ fundDetail.nav_date }}:</strong> ₹{{ fundDetail.nav }}
    </div>
    <div>
      <strong>Minimum SIP:</strong> ₹{{ fundDetail.min_sip_investment }}
    </div>
    <div>
      <strong>Rating:</strong> {{ fundDetail.groww_rating }}
      <mat-icon>star</mat-icon>
    </div>
    <div>
      <strong>Fund Size:</strong> ₹{{ fundDetail.aum | number : "1.2-2" }} Cr
    </div>
  </div>

  <div class="mt-4">
    <div>Return Calculator</div>
    <div class="border-2 rounded p-10">
      <form [formGroup]="investment">
        <div class="my-2">
          <mat-radio-group formControlName="type">
            <mat-radio-button value="sip">Monthly SIP</mat-radio-button>
            <mat-radio-button value="onetime">One-Time</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="my-2">
          ₹{{
            investment.get("amount")?.value *
              (investment.get("type")?.value == "sip" ? 500 : 1000)
          }}
          <span *ngIf="investment.get('type')?.value == 'sip'">per month</span>
          <span *ngIf="investment.get('type')?.value == 'onetime'"
            >one time</span
          >
        </div>
        <div class="my-2">
          <mat-slider
            class="investment-slider"
            [min]="fundDetail.min_investment_amount / 500"
          >
            <input matSliderThumb formControlName="amount" />
          </mat-slider>
        </div>
        <div>
          <mat-radio-group formControlName="time">
            <mat-radio-button value="1">1 Year</mat-radio-button>
            <mat-radio-button value="3">3 Years</mat-radio-button>
            <mat-radio-button value="5">5 Years</mat-radio-button>
          </mat-radio-group>
        </div>
        <mat-divider></mat-divider>
        <div class="my-4">
          <strong>Total Investment:</strong> ₹{{
            investment.get("amount")?.value *
              (investment.get("type")?.value == "sip"
                ? 500 * 12 * +investment.get("time")?.value
                : 1000)
          }}
        </div>
        <div class="my-4">
          <strong>Would have become ₹ {{ return | number : "1.2-2" }}</strong>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="mt-4">
  <div class="grid"></div>
  <canvas id="canvasEquity"></canvas>
</div>
