<div *ngIf="cls == '2A'" class="flex">
  <div class="flex p-4 font-sm">
    <div class="grid grid-cols-2">
      <div
        class="text-center w-16 py-2 border cursor-pointer"
        [ngClass]="getBg(1)"
        [matTooltip]="getToolTip(1)"
      >
        1-LB
      </div>
      <div
        class="text-center w-16 py-2 border ml-2 cursor-pointer"
        [ngClass]="getBg(3)"
        [matTooltip]="getToolTip(3)"
      >
        3-LB
      </div>
      <div
        class="text-center w-16 py-2 border cursor-pointer"
        [ngClass]="getBg(2)"
        [matTooltip]="getToolTip(2)"
      >
        2-UB
      </div>
      <div
        class="text-center w-16 py-2 border ml-2 cursor-pointer"
        [ngClass]="getBg(4)"
        [matTooltip]="getToolTip(4)"
      >
        4-UB
      </div>
      <div
        class="text-center w-16 py-2 border mt-2 cursor-pointer"
        [ngClass]="getBg(5)"
        [matTooltip]="getToolTip(5)"
      >
        5-SL
      </div>
      <div
        class="text-center w-16 py-2 border mt-2 ml-2 cursor-pointer"
        [ngClass]="getBg(6)"
        [matTooltip]="getToolTip(6)"
      >
        6-SU
      </div>
    </div>
    <div class="grid grid-cols-2">
      <div
        class="text-center w-16 py-2 border cursor-pointer"
        [ngClass]="getBg(7)"
        [matTooltip]="getToolTip(7)"
      >
        7-LB
      </div>
      <div
        class="text-center w-16 py-2 border ml-2 cursor-pointer"
        [ngClass]="getBg(9)"
        [matTooltip]="getToolTip(9)"
      >
        9-LB
      </div>
      <div
        class="text-center w-16 py-2 border cursor-pointer"
        [ngClass]="getBg(8)"
        [matTooltip]="getToolTip(8)"
      >
        8-UB
      </div>
      <div
        class="text-center w-16 py-2 border ml-2 cursor-pointer"
        [ngClass]="getBg(10)"
        [matTooltip]="getToolTip(10)"
      >
        10-UB
      </div>
      <div
        class="text-center w-16 py-2 border mt-2 cursor-pointer"
        [ngClass]="getBg(11)"
        [matTooltip]="getToolTip(11)"
      >
        11-SL
      </div>
      <div
        class="text-center w-16 py-2 border mt-2 ml-2 cursor-pointer"
        [ngClass]="getBg(12)"
        [matTooltip]="getToolTip(12)"
      >
        12-SU
      </div>
    </div>
    <div class="grid grid-cols-2">
      <div
        class="text-center w-16 py-2 border cursor-pointer"
        [ngClass]="getBg(13)"
        [matTooltip]="getToolTip(13)"
      >
        13-LB
      </div>
      <div
        class="text-center w-16 py-2 border ml-2 cursor-pointer"
        [ngClass]="getBg(15)"
        [matTooltip]="getToolTip(15)"
      >
        15-LB
      </div>
      <div
        class="text-center w-16 py-2 border cursor-pointer"
        [ngClass]="getBg(14)"
        [matTooltip]="getToolTip(14)"
      >
        14-UB
      </div>
      <div
        class="text-center w-16 py-2 border ml-2 cursor-pointer"
        [ngClass]="getBg(16)"
        [matTooltip]="getToolTip(16)"
      >
        16-UB
      </div>
      <div
        class="text-center w-16 py-2 border mt-2 cursor-pointer"
        [ngClass]="getBg(17)"
        [matTooltip]="getToolTip(17)"
      >
        17-SL
      </div>
      <div
        class="text-center w-16 py-2 border mt-2 ml-2 cursor-pointer"
        [ngClass]="getBg(18)"
        [matTooltip]="getToolTip(18)"
      >
        18-SU
      </div>
    </div>
    <div class="grid grid-cols-2">
      <div
        class="text-center w-16 py-2 border cursor-pointer"
        [ngClass]="getBg(19)"
        [matTooltip]="getToolTip(19)"
      >
        19-LB
      </div>
      <div
        class="text-center w-16 py-2 border ml-2 cursor-pointer"
        [ngClass]="getBg(21)"
        [matTooltip]="getToolTip(21)"
      >
        21-LB
      </div>
      <div
        class="text-center w-16 py-2 border cursor-pointer"
        [ngClass]="getBg(20)"
        [matTooltip]="getToolTip(20)"
      >
        20-UB
      </div>
      <div
        class="text-center w-16 py-2 border ml-2 cursor-pointer"
        [ngClass]="getBg(22)"
        [matTooltip]="getToolTip(22)"
      >
        22-UB
      </div>
      <div
        class="text-center w-16 py-2 border mt-2 cursor-pointer"
        [ngClass]="getBg(23)"
        [matTooltip]="getToolTip(23)"
      >
        23-SL
      </div>
      <div
        class="text-center w-16 py-2 border mt-2 ml-2 cursor-pointer"
        [ngClass]="getBg(24)"
        [matTooltip]="getToolTip(24)"
      >
        24-SU
      </div>
    </div>
    <div class="grid grid-cols-2">
      <div
        class="text-center w-16 py-2 border cursor-pointer"
        [ngClass]="getBg(25)"
        [matTooltip]="getToolTip(25)"
      >
        25-LB
      </div>
      <div
        class="text-center w-16 py-2 border ml-2 cursor-pointer"
        [ngClass]="getBg(27)"
        [matTooltip]="getToolTip(27)"
      >
        27-LB
      </div>
      <div
        class="text-center w-16 py-2 border cursor-pointer"
        [ngClass]="getBg(26)"
        [matTooltip]="getToolTip(26)"
      >
        26-UB
      </div>
      <div
        class="text-center w-16 py-2 border ml-2 cursor-pointer"
        [ngClass]="getBg(28)"
        [matTooltip]="getToolTip(28)"
      >
        28-UB
      </div>
      <div
        class="text-center w-16 py-2 border mt-2 cursor-pointer"
        [ngClass]="getBg(29)"
        [matTooltip]="getToolTip(29)"
      >
        29-SL
      </div>
      <div
        class="text-center w-16 py-2 border mt-2 ml-2 cursor-pointer"
        [ngClass]="getBg(30)"
        [matTooltip]="getToolTip(30)"
      >
        30-SU
      </div>
    </div>
    <div class="grid grid-cols-2">
      <div
        class="text-center w-16 py-2 border cursor-pointer"
        [ngClass]="getBg(31)"
        [matTooltip]="getToolTip(31)"
      >
        31-LB
      </div>
      <div
        class="text-center w-16 py-2 border ml-2 cursor-pointer"
        [ngClass]="getBg(33)"
        [matTooltip]="getToolTip(33)"
      >
        33-LB
      </div>
      <div
        class="text-center w-16 py-2 border cursor-pointer"
        [ngClass]="getBg(32)"
        [matTooltip]="getToolTip(32)"
      >
        32-UB
      </div>
      <div
        class="text-center w-16 py-2 border ml-2 cursor-pointer"
        [ngClass]="getBg(34)"
        [matTooltip]="getToolTip(34)"
      >
        34-UB
      </div>
      <div
        class="text-center w-16 py-2 border mt-2 cursor-pointer"
        [ngClass]="getBg(35)"
        [matTooltip]="getToolTip(35)"
      >
        35-SL
      </div>
      <div
        class="text-center w-16 py-2 border mt-2 ml-2 cursor-pointer"
        [ngClass]="getBg(36)"
        [matTooltip]="getToolTip(36)"
      >
        36-SU
      </div>
    </div>
    <div class="grid grid-cols-2">
      <div
        class="text-center w-16 py-2 border cursor-pointer"
        [ngClass]="getBg(37)"
        [matTooltip]="getToolTip(37)"
      >
        37-LB
      </div>
      <div
        class="text-center w-16 py-2 border ml-2 cursor-pointer"
        [ngClass]="getBg(39)"
        [matTooltip]="getToolTip(39)"
      >
        39-LB
      </div>
      <div
        class="text-center w-16 py-2 border cursor-pointer"
        [ngClass]="getBg(38)"
        [matTooltip]="getToolTip(38)"
      >
        38-UB
      </div>
      <div
        class="text-center w-16 py-2 border ml-2 cursor-pointer"
        [ngClass]="getBg(40)"
        [matTooltip]="getToolTip(40)"
      >
        40-UB
      </div>
      <div
        class="text-center w-16 py-2 border mt-2 cursor-pointer"
        [ngClass]="getBg(41)"
        [matTooltip]="getToolTip(41)"
      >
        41-SL
      </div>
      <div
        class="text-center w-16 py-2 border mt-2 ml-2 cursor-pointer"
        [ngClass]="getBg(42)"
        [matTooltip]="getToolTip(42)"
      >
        42-SU
      </div>
    </div>
    <div class="grid grid-cols-2">
      <div
        class="text-center w-16 py-2 border cursor-pointer"
        [ngClass]="getBg(43)"
        [matTooltip]="getToolTip(43)"
      >
        43-LB
      </div>
      <div
        class="text-center w-16 py-2 border ml-2 cursor-pointer"
        [ngClass]="getBg(45)"
        [matTooltip]="getToolTip(45)"
      >
        45-LB
      </div>
      <div
        class="text-center w-16 py-2 border cursor-pointer"
        [ngClass]="getBg(44)"
        [matTooltip]="getToolTip(44)"
      >
        44-UB
      </div>
      <div
        class="text-center w-16 py-2 border ml-2 cursor-pointer"
        [ngClass]="getBg(46)"
        [matTooltip]="getToolTip(46)"
      >
        46-UB
      </div>
      <div
        class="text-center w-16 py-2 border mt-2 cursor-pointer"
        [ngClass]="getBg(47)"
        [matTooltip]="getToolTip(47)"
      >
        47-SL
      </div>
      <div
        class="text-center w-16 py-2 border mt-2 ml-2 cursor-pointer"
        [ngClass]="getBg(48)"
        [matTooltip]="getToolTip(48)"
      >
        48-SU
      </div>
    </div>
    <div class="grid grid-cols-2">
      <div
        class="text-center w-16 py-2 border cursor-pointer"
        [ngClass]="getBg(49)"
        [matTooltip]="getToolTip(49)"
      >
        49-LB
      </div>
      <div class="text-center w-16 py-2 ml-2"></div>
      <div
        class="text-center w-16 py-2 border cursor-pointer"
        [ngClass]="getBg(50)"
        [matTooltip]="getToolTip(50)"
      >
        50-UB
      </div>
      <div class="text-center w-16 py-2 ml-2"></div>
      <div
        class="text-center w-16 py-2 border mt-2 cursor-pointer"
        [ngClass]="getBg(51)"
        [matTooltip]="getToolTip(51)"
      >
        51-SL
      </div>
      <div
        class="text-center w-16 py-2 border mt-2 ml-2 cursor-pointer"
        [ngClass]="getBg(52)"
        [matTooltip]="getToolTip(52)"
      >
        52-SU
      </div>
    </div>
  </div>
</div>
