<div class="flex justify-end gap-4 mt-4">
  <input
    type="file"
    (change)="onFilesSelected($event)"
    accept="image/*"
    multiple
    class="hidden"
    id="fileInput"
  />
  <button
    mat-flat-button
    class="py-2 px-4 bg-blue-500 text-white rounded-lg cursor-pointer"
    (click)="triggerFileInput()"
  >
    <mat-icon>upload</mat-icon> Upload
  </button>
  <button
    mat-flat-button
    class="py-2 px-4 bg-green-500 text-white rounded-lg"
    (click)="addAlbum()"
  >
    <mat-icon>library_add</mat-icon> Create Album
  </button>
</div>

<div class="p-4 flex flex-wrap gap-2">
  <div *ngFor="let group of groupedPhotos">
    <div class="text-2xl">{{ group[0].metadata.uploadDate | date }}</div>
    <div class="p-4 flex flex-wrap gap-4">
      <div
        *ngFor="let photo of group"
        class="relative overflow-hidden shadow-lg"
      >
        <img
          [src]="photo.thumbnail"
          alt=""
          class="h-60 w-auto cursor-pointer transition-transform transform-gpu hover:scale-105"
          (click)="openImage(photo)"
        />
      </div>
    </div>
  </div>
</div>

<!-- <div class="p-4 flex flex-wrap gap-2">
  <div *ngFor="let item of groupedPhotos | keyvalue" class="rounded-lg">
    <div class="text-xl">{{ item.key | date }}</div>
    <div class="p-4 flex flex-wrap gap-2">
      <div *ngFor="let photo of item.value">
        <img
          [src]="photo.thumbnail"
          alt=""
          class="h-60 w-auto cursor-pointer"
          (click)="openImage(photo)"
        />
      </div>
    </div>
  </div>
</div> -->
