<div class="flex flex-row justify-center gap-4">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmitForm()"
    class="flex flex-row justify-center gap-4"
  >
    <mat-form-field>
      <mat-label>From</mat-label>
      <input
        type="text"
        placeholder="From"
        formControlName="source"
        matInput
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="filteredStationList = stationList"
      >
        <mat-option
          *ngFor="let option of filteredStationList"
          [value]="option.code"
        >
          {{ option.name }} - {{ option.code }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>To</mat-label>
      <input
        type="text"
        placeholder="To"
        formControlName="destination"
        matInput
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="filteredStationList = stationList"
      >
        <mat-option
          *ngFor="let option of filteredStationList"
          [value]="option.code"
        >
          {{ option.name }} - {{ option.code }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Departure Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [min]="today"
        [max]="maxDate"
        formControlName="departureDate"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button
      mat-raised-button
      class="my-auto"
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      Search Trains
    </button>
  </form>

  <!-- <mat-form-field *ngIf="searchedTrains">
    <mat-label>Choose Quota</mat-label>
    <select matNativeControl [formControl]="selectQuota">
      <option value="GN">General</option>
      <option value="TQ">Tatkal</option>
      <option value="SS">Sr Citizen</option>
      <option value="LD">Ladies</option>
    </select>
  </mat-form-field> -->
</div>

<div *ngIf="trainList" class="mt-2 w-full">
  <div class="w-full">
    <div class="flex bg-gray-200">
      <div class="flex-1 py-2 px-4 font-bold">Train No</div>
      <div class="flex-1 py-2 px-4 font-bold">Departure</div>
      <div class="flex-1 py-2 px-4 font-bold">Duration</div>
      <div class="flex-1 py-2 px-4 font-bold">Arrival</div>
    </div>

    <ng-container *ngFor="let item of trainList; let i = index">
      <div
        class="flex border-t-2 border-l-2 border-r-2 {{
          i === 0 ? '' : 'rounded-t-xl'
        }}"
      >
        <div class="flex-1 py-2 px-4">
          {{ item.trainNumber }} - {{ item.trainName }}
        </div>
        <div class="flex-1 py-2 px-4">
          <div>{{ item.departureTime }}</div>
          <div>{{ returnStationName(item.fromStnCode) }}</div>
        </div>
        <div class="flex-1 py-2 px-4">
          <div>{{ item.duration | duration }}</div>
          <div class="flex gap-2">
            <div [ngClass]="{ 'text-slate-300': item.runningSun == 'N' }">
              S
            </div>
            <div [ngClass]="{ 'text-slate-300': item.runningMon == 'N' }">
              M
            </div>
            <div [ngClass]="{ 'text-slate-300': item.runningTue == 'N' }">
              T
            </div>
            <div [ngClass]="{ 'text-slate-300': item.runningWed == 'N' }">
              W
            </div>
            <div [ngClass]="{ 'text-slate-300': item.runningThu == 'N' }">
              T
            </div>
            <div [ngClass]="{ 'text-slate-300': item.runningFri == 'N' }">
              F
            </div>
            <div [ngClass]="{ 'text-slate-300': item.runningSat == 'N' }">
              S
            </div>
            <div [ngClass]="{ 'text-slate-300': item.runningSun == 'N' }">
              S
            </div>
          </div>
        </div>
        <div class="flex-1 py-2 px-4">
          <div>{{ item.arrivalTime }}</div>
          <div>{{ returnStationName(item.toStnCode) }}</div>
        </div>
      </div>

      <div class="flex border-b-2 border-l-2 border-r-2 rounded-b-xl mb-2">
        <div class="flex-1 py-2 px-4" colspan="4">
          <div class="mt-2 flex gap-4">
            <div *ngFor="let class of item.avlClasses">
              <div class="relative border rounded-xl p-2 w-48">
                <div class="font-medium">
                  {{ returnClassName(class) }}
                </div>
                <div
                  class="text-blue-500 cursor-pointer hover:underline"
                  (click)="getAvailability(item, class)"
                >
                  Get Availability
                </div>
              </div>
            </div>
          </div>

          <div class="flex flex-col" *ngIf="item.availability">
            <div class="text-lg">Class: {{ item.availability.class }}</div>
            <div class="text-lg">
              Fare: {{ item.availability.availability.totalFare }}
            </div>
            <div class="flex flex-row gap-4">
              <div
                class="flex-1 border rounded-xl p-2"
                *ngFor="let avail of item.availability.availability.avlDayList"
              >
                <div>{{ avail.availablityDate }}</div>
                <div
                  [ngClass]="{
                    'text-green-500': avail.availablityType == '1',
                    'text-orange-500': avail.availablityType == '2',
                    'text-red-500': avail.availablityType == '3'
                  }"
                >
                  {{ avail.availablityStatus }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
