<div class="m-4">
  <mat-radio-group [(ngModel)]="selectedTab">
    <mat-radio-button value="availability">Availability</mat-radio-button>
    <mat-radio-button value="pnr">Check PNR Status</mat-radio-button>
    <mat-radio-button value="live">Live Train Status</mat-radio-button>
  </mat-radio-group>
</div>

<div *ngIf="selectedTab == 'availability'" class="m-4">
  <div class="flex flex-row justify-center gap-4">
    <form
      [formGroup]="form"
      (ngSubmit)="onSubmitForm()"
      class="flex flex-row justify-center gap-4"
    >
      <mat-form-field>
        <mat-label>From</mat-label>
        <input
          type="text"
          placeholder="From"
          formControlName="source"
          matInput
          [matAutocomplete]="auto"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of stationList" [value]="option.code">
            {{ option.display_name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>To</mat-label>
        <input
          type="text"
          placeholder="To"
          formControlName="destination"
          matInput
          [matAutocomplete]="auto"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of stationList" [value]="option.code">
            {{ option.display_name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Departure Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [min]="today"
          [max]="maxDate"
          formControlName="departureDate"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button
        mat-raised-button
        class="my-auto"
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Search Trains
      </button>
    </form>

    <mat-form-field *ngIf="searchedTrains">
      <mat-label>Choose Quota</mat-label>
      <select matNativeControl [formControl]="selectQuota">
        <option value="GN">General</option>
        <option value="TQ">Tatkal</option>
        <option value="SS">Sr Citizen</option>
        <option value="LD">Ladies</option>
      </select>
    </mat-form-field>
  </div>

  <div *ngIf="searchedTrains" class="mt-2 w-full">
    <div class="w-full">
      <div class="flex bg-gray-200">
        <div class="flex-1 py-2 px-4 font-bold">Train No</div>
        <div class="flex-1 py-2 px-4 font-bold">Departure</div>
        <div class="flex-1 py-2 px-4 font-bold">Duration</div>
        <div class="flex-1 py-2 px-4 font-bold">Arrival</div>
      </div>

      <ng-container *ngFor="let item of filteredSearchedTrains; let i = index">
        <!-- First row -->
        <div
          class="flex border-t-2 border-l-2 border-r-2 {{
            i === 0 ? '' : 'rounded-t-xl'
          }}"
        >
          <div class="flex-1 py-2 px-4">
            {{ item.trainNumber }} - {{ item.trainName }}
          </div>
          <div class="flex-1 py-2 px-4">
            <div>{{ item.departure | date : "H:mm" }}</div>
            <div>{{ item.source_name }}</div>
          </div>
          <div class="flex-1 py-2 px-4">
            <div>{{ item.duration | duration }}</div>
            <div class="flex gap-2">
              <div *ngFor="let day of getSortedDays(item.runningOn) | keyvalue">
                <div [ngClass]="{ 'text-slate-300': day.value.value == 'N' }">
                  {{ day.value.key.substring(0, 1) | uppercase }}
                </div>
              </div>
            </div>
          </div>
          <div class="flex-1 py-2 px-4">
            <div>{{ item.departure | date : "H:mm" }}</div>
            <div>{{ item.destination_name }}</div>
          </div>
        </div>

        <!-- Second row -->
        <div class="flex border-b-2 border-l-2 border-r-2 rounded-b-xl mb-2">
          <div class="flex-1 py-2 px-4" colspan="4">
            <div class="mt-2 flex gap-4">
              <div *ngFor="let item of item.availability">
                <div
                  class="relative border rounded-xl p-2 w-48"
                  [style.backgroundColor]="
                    item.colour_hexcode.background_hexcode
                  "
                >
                  <div
                    class="font-medium"
                    [style.color]="item.colour_hexcode.class_hexcode"
                  >
                    {{ item.name }} ({{ item.code }})
                  </div>
                  <div [style.color]="item.colour_hexcode.price_hexcode">
                    ₹ {{ item.fare }}
                  </div>
                  <div [style.color]="item.colour_hexcode.status_hexcode">
                    {{ item.status }}
                  </div>
                  <div
                    *ngIf="item.pnr_prediction"
                    class="absolute -bottom-4 -right-4 h-8 w-8 rounded-full flex items-center justify-center"
                    [style.backgroundColor]="item.pnr_prediction.color"
                  >
                    {{ item.pnr_prediction.value }}
                  </div>
                </div>
                <div class="text-xs">{{ item.time_of_availability }}</div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div *ngIf="selectedTab == 'pnr'" class="mt-4">
  <form
    [formGroup]="pnrForm"
    (ngSubmit)="onSubmitPNRForm()"
    class="flex flex-row justify-center gap-4"
  >
    <mat-form-field>
      <mat-label>PNR</mat-label>
      <input matInput type="text" formControlName="pnr" />
      <button
        *ngIf="pnrForm.get('pnr')?.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="pnrForm.get('pnr')?.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <button
      mat-raised-button
      class="my-auto"
      color="primary"
      type="submit"
      [disabled]="pnrForm.invalid"
    >
      Search
    </button>
  </form>

  <div *ngIf="pnrStatus">
    <pnr [content]="pnrStatus"></pnr>
  </div>
</div>

<div *ngIf="selectedTab == 'live'" class="m-4">
  <form
    [formGroup]="statusForm"
    (ngSubmit)="onSubmitStatusForm()"
    class="flex flex-row justify-center gap-4"
  >
    <mat-form-field class="w-96">
      <mat-label>Train</mat-label>
      <input
        type="text"
        placeholder="Train"
        formControlName="train"
        matInput
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of trainList"
          [value]="option.trainNumber"
        >
          {{ option.trainNumber }} - {{ option.trainName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Boarding</mat-label>
      <mat-select formControlName="boarding">
        <mat-option
          *ngFor="let item of trainStations"
          [value]="item.stationCode"
        >
          {{ item.stationName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div
      class="flex flex-row justify-center text-center gap-2"
      *ngIf="statusForm.get('boarding')?.value != null"
    >
      <div
        *ngFor="let item of getDateObjects(); let i = index"
        class="border rounded-xl cursor-pointer p-4"
        [ngClass]="{ 'bg-green-400': selectedIndex === i }"
        (click)="setDate(item, i)"
      >
        <div>{{ item | date : "MMM d" }}</div>
        <div *ngIf="i == 0">{{ item | date : "EEE" }}</div>
        <div *ngIf="i == 1">Yesterday</div>
        <div *ngIf="i == 2">Today</div>
        <div *ngIf="i == 3">Tomorrow</div>
      </div>
    </div>

    <button
      mat-raised-button
      class="my-auto"
      color="primary"
      type="submit"
      [disabled]="statusForm.invalid"
    >
      Search
    </button>
  </form>

  <div *ngIf="trainStatus" class="mt-4">
    Train Number: {{ this.statusForm.get("train")?.value }}

    <div class="mt-2 w-full">
      <div class="flex bg-gray-200">
        <div class="flex py-2 px-4"></div>
        <div class="flex-1 py-2 px-4 font-bold">Station</div>
        <div class="flex-1 py-2 px-4 font-bold">Arrival</div>
        <div class="flex-1 py-2 px-4 font-bold">Departure</div>
        <div class="flex-1 py-2 px-4 font-bold">PF/Halt</div>
      </div>
      <div *ngFor="let item of trainStatus.stations; let i = index">
        <div class="flex gap-4">
          <div
            [class.bg-green-500]="isTrainLeft(item)"
            [class.bg-gray-300]="!isTrainLeft(item)"
            class="flex p-1"
          ></div>

          <div class="flex-1 py-2 px-4">{{ item.stationName }}</div>
          <div class="flex-1 py-2 px-4">
            <div>{{ item.arrivalTime }}</div>
            <div
              [ngClass]="{
                'text-red-400': isTrainLate(item, 'arrival'),
                'text-green-400': !isTrainLate(item, 'arrival')
              }"
            >
              {{ item.actual_arrival_time }}
            </div>
          </div>
          <div class="flex-1 py-2 px-4">
            <div>{{ item.departureTime }}</div>
            <div
              [ngClass]="{
                'text-red-400': isTrainLate(item, 'departure'),
                'text-green-400': !isTrainLate(item, 'departure')
              }"
            >
              {{ item.actual_departure_time }}
            </div>
          </div>
          <div class="flex-1 py-2 px-4">{{ item.expected_platform }}</div>
        </div>

        <div
          *ngIf="getIndex(trainStatus.current_station) + 1 === i"
          class="w-fit"
        >
          <div class="border rounded-xl flex gap-3">
            <div class="bg-black rounded-l-xl text-white p-2">
              {{ trainStatus.time_of_availability }}
            </div>
            <div class="p-2">
              {{ trainStatus.train_status_message }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
