.mat-badge-medium.mat-badge-below .mat-badge-content {
  bottom: 0px !important;
}

.trending {
  background-image: url("../../../../assets/svg/bg-corosal.svg");
  background-position: 50% 200px;
  background-repeat: no-repeat;
  max-width: 1400px;
}
