<div class="p-4 bg-slate-100">
  <form></form>

  <div class="mt-4">
    <div class="font-bold text-2xl">Collections</div>
    <div
      class="grid grid grid-cols-3 sm:grid-cols-6 text-center items-center justify-center"
    >
      <div class="cursor-pointer" (click)="getCollection('best-high-return')">
        <div>
          <img
            class="mx-auto"
            src="https://storage.googleapis.com/groww-assets/mf-assets/web/collection/light/high_returns.svg"
            alt=""
          />
        </div>
        <div class="mt-2">High Return</div>
      </div>
      <div class="cursor-pointer" (click)="getCollection('best-sip-with-500')">
        <div>
          <img
            class="mx-auto"
            src="https://storage.googleapis.com/groww-assets/mf-assets/web/collection/light/sip_with_500.svg"
            alt=""
          />
        </div>
        <div class="mt-2">SIP with ₹500</div>
      </div>
      <div class="cursor-pointer" (click)="getCollection('best-tax-saving')">
        <div>
          <img
            class="mx-auto"
            src="https://storage.googleapis.com/groww-assets/mf-assets/web/collection/light/tax_saving.svg"
            alt=""
          />
        </div>
        <div class="mt-2">Tax Saving</div>
      </div>
      <div class="cursor-pointer" (click)="getCollection('best-large-cap')">
        <div>
          <img
            class="mx-auto"
            src="https://storage.googleapis.com/groww-assets/mf-assets/web/collection/light/large_cap.svg"
            alt=""
          />
        </div>
        <div class="mt-2">Large Cap</div>
      </div>
      <div class="cursor-pointer" (click)="getCollection('best-mid-cap')">
        <div>
          <img
            class="mx-auto"
            src="https://storage.googleapis.com/groww-assets/mf-assets/web/collection/light/mid_cap.svg"
            alt=""
          />
        </div>
        <div class="mt-2">Mid Cap</div>
      </div>
      <div class="cursor-pointer" (click)="getCollection('best-small-cap')">
        <div>
          <img
            class="mx-auto"
            src="https://storage.googleapis.com/groww-assets/mf-assets/web/collection/light/small_cap.svg"
            alt=""
          />
        </div>
        <div class="mt-2">Small Cap</div>
      </div>
    </div>
  </div>
</div>
