<div class="p-4 bg-slate-100">
  <div class="mt-4">
    <div class="font-bold text-2xl mb-8">Index</div>
    <div
      class="flex md:items-center md:justify-between md:mx-10 gap-4 md:gap-0 w-full md:w-auto overflow-y-auto"
    >
      <div *ngFor="let item of liveStatus" class="border rounded shadow p-4">
        <div>{{ item.symbol == "1" ? "SENSEX" : item.symbol }}</div>
        <div class="flex gap-1">
          <div>{{ item.value }}</div>
          <div
            [ngClass]="{
              'text-green-400': item.dayChange > 0,
              'text-red-400': item.dayChange < 0
            }"
          >
            {{ item.dayChange | number : "1.2-2" }} ({{
              item.dayChangePerc / 100 | percent : "1.2-2"
            }})
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4 flex gap-4 items-center">
    <mat-form-field class="w-80">
      <mat-label>Search Mutual Fund</mat-label>
      <input
        matInput
        placeholder="search..."
        [formControl]="search"
        (keydown.enter)="searchFund()"
      />
    </mat-form-field>

    <div class="block sm:hidden">
      <button mat-raised-button color="primary" (click)="searchFund()">
        Search
      </button>
    </div>
  </div>

  <div class="mt-4">
    <div class="font-bold text-2xl mb-8">Popular Funds</div>
    <div class="grid md:grid-cols-4 gap-8 items-center justify-between">
      <div
        *ngFor="let item of popularMF"
        class="border rounded-xl shadow cursor-pointer p-4"
        (click)="getFund(item)"
      >
        <div>
          <div>
            <img class="h-8 w-auto" src="item.logo_url" alt="logo_url" />
          </div>
          <div class="text-lg">
            {{ item.scheme_name }}
          </div>
          <div>
            {{ item.return3y }}% <span class="text-slate-400">(3Y)</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-8">
    <div class="font-bold text-2xl mb-8">Collections</div>
    <div
      class="grid grid grid-cols-3 sm:grid-cols-6 text-center items-center justify-center"
    >
      <div
        class="cursor-pointer p-3 hover:shadow-lg rounded-xl"
        (click)="getCollection('best-high-return')"
      >
        <div>
          <img
            class="mx-auto"
            src="../../../../assets/svg/high_returns.svg"
            alt=""
          />
        </div>
        <div class="mt-2">High Return</div>
      </div>
      <div
        class="cursor-pointer p-3 hover:shadow-lg rounded-xl"
        (click)="getCollection('best-sip-with-500')"
      >
        <div>
          <img
            class="mx-auto"
            src="../../../../assets/svg/sip_with_500.svg"
            alt=""
          />
        </div>
        <div class="mt-2">SIP with ₹500</div>
      </div>
      <div
        class="cursor-pointer p-3 hover:shadow-lg rounded-xl"
        (click)="getCollection('best-tax-saving')"
      >
        <div>
          <img
            class="mx-auto"
            src="../../../../assets/svg/tax_saving.svg"
            alt=""
          />
        </div>
        <div class="mt-2">Tax Saving</div>
      </div>
      <div
        class="cursor-pointer p-3 hover:shadow-lg rounded-xl"
        (click)="getCollection('best-large-cap')"
      >
        <div>
          <img
            class="mx-auto"
            src="../../../../assets/svg/large_cap.svg"
            alt=""
          />
        </div>
        <div class="mt-2">Large Cap</div>
      </div>
      <div
        class="cursor-pointer p-3 hover:shadow-lg rounded-xl"
        (click)="getCollection('best-mid-cap')"
      >
        <div>
          <img
            class="mx-auto"
            src="../../../../assets/svg/mid_cap.svg"
            alt=""
          />
        </div>
        <div class="mt-2">Mid Cap</div>
      </div>
      <div
        class="cursor-pointer p-3 hover:shadow-lg rounded-xl"
        (click)="getCollection('best-small-cap')"
      >
        <div>
          <img
            class="mx-auto"
            src="../../../../assets/svg/small_cap.svg"
            alt=""
          />
        </div>
        <div class="mt-2">Small Cap</div>
      </div>
    </div>
  </div>
</div>
