<div class="mt-2">
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 p-4">
    <div>
      <div class="font-bold text-2xl">{{ totalReturn | currency : "INR" }}</div>
      <div class="text-xl">Current Value</div>
    </div>
    <div class="col-span-2">
      <div class="grid grid-cols-2">
        <div>Invested Value</div>
        <div>{{ totalInvestment | currency : "INR" }}</div>
      </div>
      <div class="grid grid-cols-2">
        <div>Total Return</div>
        <div
          [ngClass]="{
            'text-green-600': totalReturn - totalInvestment > 0,
            'text-red-600': totalReturn - totalInvestment < 0
          }"
        >
          {{ totalReturn - totalInvestment | currency : "INR" }} ({{
            (totalReturn - totalInvestment) / totalInvestment
              | percent : "1.2-2"
          }})
        </div>
      </div>
      <div class="grid grid-cols-2">
        <div>XIRR</div>
        <div>{{ totalXIRR | percent : "1.2-2" }}</div>
      </div>
    </div>
    <div>
      <button
        class=""
        mat-raised-button
        color="primary"
        (click)="createInvestment()"
      >
        Add Investment
      </button>
    </div>
  </div>

  <table
    *ngIf="investment"
    class="mt-4 overflow-x-auto"
    mat-table
    [dataSource]="investment"
  >
    <ng-container matColumnDef="schema_name">
      <th mat-header-cell *matHeaderCellDef>Scheme Name</th>
      <td mat-cell *matCellDef="let element">
        <div class="py-1">
          <div class="py-2 text-lg">{{ element.schema_name }}</div>
          <div class="py text-xs font-lighter">
            ({{ element.type == "sip" ? "SIP" : (element.type | titlecase) }})
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef class="hidden lg:table-cell">
        Day Change
      </th>
      <td mat-cell *matCellDef="let element" class="hidden lg:table-cell">
        <div class="py-1">
          <div class="py-2 text-lg">
            {{
              (element.current_nav - element.one_day_nav) / element.current_nav
                | percent : "1.2-2"
            }}
          </div>
          <div
            class="py-2"
            [ngClass]="{
              'text-green-600': element.current_nav - element.one_day_nav > 0,
              'text-red-600': element.current_nav - element.one_day_nav < 0
            }"
          >
            {{
              ((element.current_nav - element.one_day_nav) /
                element.current_nav) *
                element.total_value | currency : "INR"
            }}
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="return">
      <th mat-header-cell *matHeaderCellDef class="hidden lg:table-cell">
        Return
      </th>
      <td mat-cell *matCellDef="let element" class="hidden lg:table-cell">
        <div class="py-1">
          <div class="py-2 text-lg">
            {{
              (element.total_value - element.total_amount).toFixed(2)
                | currency : "INR"
            }}
          </div>
          <div
            class="py-2"
            [ngClass]="{
              'text-green-600': element.total_value - element.total_amount > 0,
              'text-red-600': element.total_value - element.total_amount < 0
            }"
          >
            ({{
              (element.total_value - element.total_amount) /
                element.total_amount | percent : "1.2-2"
            }})
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="current">
      <th mat-header-cell *matHeaderCellDef>Current</th>
      <td mat-cell *matCellDef="let element">
        <div class="py-1">
          <div class="py-2 text-lg">
            {{ element.total_value | currency : "INR" }}
          </div>
          <div class="py-2 text-sm">
            {{ element.total_amount.toFixed(2) | currency : "INR" }}
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
        <mat-menu #menu="matMenu">
          <button
            *ngIf="element.type == 'sip'"
            mat-menu-item
            (click)="addInvestment(element)"
          >
            Add Investment
          </button>
          <button mat-menu-item (click)="getTransaction(element)">
            View Transaction
          </button>
          <button mat-menu-item (click)="deleteInvestment(element)">
            Delete
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      class="py-4"
      mat-row
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
</div>
