<div class="mt-2">
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 p-4">
    <div>
      <div class="font-bold text-2xl">{{ totalReturn | currency : "INR" }}</div>
      <div class="text-xl">Current Value</div>
    </div>
    <div class="col-span-2">
      <div class="grid grid-cols-2">
        <div>Invested Value</div>
        <div>{{ totalInvestment | currency : "INR" }}</div>
      </div>
      <div class="grid grid-cols-2">
        <div>Total Return</div>
        <div
          [ngClass]="{
            'text-green-600': totalReturn - totalInvestment > 0,
            'text-red-600': totalReturn - totalInvestment < 0
          }"
        >
          {{ totalReturn - totalInvestment | currency : "INR" }} ({{
            (totalReturn - totalInvestment) / totalInvestment
              | percent : "1.2-2"
          }})
        </div>
      </div>
      <div class="grid grid-cols-2">
        <div>XIRR</div>
        <div>{{ totalXIRR | percent : "1.2-2" }}</div>
      </div>
    </div>
    <div>
      <button
        class=""
        mat-raised-button
        color="primary"
        (click)="addInvestment()"
      >
        Add Investment
      </button>
    </div>
  </div>

  <section class="mt-4" *ngIf="filteredInvestment">
    <table mat-table [dataSource]="filteredInvestment">
      <ng-container matColumnDef="schema_name">
        <th mat-header-cell *matHeaderCellDef>Scheme Name</th>
        <td mat-cell *matCellDef="let element">{{ element.schema_name }}</td>
      </ng-container>

      <ng-container matColumnDef="return">
        <th mat-header-cell *matHeaderCellDef>Return</th>
        <td mat-cell *matCellDef="let element">
          <div class="text-bolder text-lg">
            {{
              element.total_return - element.total_amount_invested
                | currency : "INR"
            }}
          </div>
          <div
            [ngClass]="{
              'text-green-600':
                element.total_return - element.total_amount_invested > 0,
              'text-red-600':
                element.total_return - element.total_amount_invested < 0
            }"
          >
            ({{
              (element.total_return - element.total_amount_invested) /
                element.total_amount_invested | percent : "1.2-2"
            }})
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="current">
        <th mat-header-cell *matHeaderCellDef>Current</th>
        <td mat-cell *matCellDef="let element">
          <div class="text-bolder text-lg">
            {{ element.total_return | currency : "INR" }}
          </div>
          <div>{{ element.total_amount_invested | currency : "INR" }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon
            [matMenuTriggerFor]="menu"
            *ngIf="element.type == 'sip'"
            (click)="$event.stopPropagation()"
            >more_vert</mat-icon
          >
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addMoreInvestment(element)">
              Add Investment
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        class="cursor-pointer hover:bg-red-300"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="getDetail(row)"
      ></tr>
    </table>
  </section>
</div>
