/* Ensure icon fills the available space and positions correctly */
.mat-icon.text-6xl {
  font-size: 6rem;
  width: 100%;
  text-align: center;
}

button[mat-icon-button] {
  position: absolute;
  top: 8px;
  right: 8px;
}

#menuContainer {
  position: fixed;
  pointer-events: none;
}

.shortcut-label {
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  font-size: 12px;
  padding: 5px;
  border-radius: 3px;
}

.badge {
  color: black;
  font-size: 12px;
  padding: 5px;
  border-radius: 50%;
}

.icon-size-14 {
  width: 3.5rem !important;
  height: 3.5rem !important;
  color: rgba(148, 163, 184, 1) !important;
}
