<div class="min-h-screen">
  <input
    #uploadFile
    type="file"
    (change)="upload($event)"
    class="hidden"
    multiple
  />

  <div
    *ngIf="folderPath && folderPath.length > 1"
    class="flex items-center space-x-2 overflow-x-auto whitespace-nowrap"
  >
    <ng-container *ngFor="let folder of folderPath; let last = last">
      <span *ngIf="last" class="text-gray-500 font-medium">
        {{ folder.folder_name }}
      </span>

      <ng-container *ngIf="!last">
        <button
          mat-button
          class="hover:underline text-blue-500"
          (click)="goPath(folder)"
        >
          {{ folder.folder_name }}
        </button>
      </ng-container>

      <mat-icon *ngIf="!last" class="text-gray-500">chevron_right</mat-icon>
    </ng-container>
  </div>

  <div class="p-6">
    <div *ngIf="sortedFolderList && sortedFolderList.length > 0" class="mb-8">
      <h2 class="text-lg font-semibold mb-4">Folders</h2>
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
        <div
          *ngFor="let folder of sortedFolderList"
          class="relative bg-white rounded-lg shadow p-4 cursor-pointer hover:shadow-lg transition"
          (click)="openFolder(folder)"
        >
          <button
            mat-icon-button
            [matMenuTriggerFor]="folderMenu"
            class="absolute top-2 right-2"
            (click)="$event.stopPropagation()"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #folderMenu="matMenu">
            <button mat-menu-item (click)="alterFolder(folder, 'rename')">
              <mat-icon>edit</mat-icon>
              <span>Rename Folder</span>
            </button>
            <button mat-menu-item (click)="alterFolder(folder, 'delete')">
              <mat-icon>delete</mat-icon>
              <span>Delete Folder</span>
            </button>
          </mat-menu>

          <div class="flex justify-center">
            <mat-icon
              class="text-6xl text-gray-500 mb-4"
              style="height: 6rem !important"
              >folder</mat-icon
            >
          </div>
          <p class="text-center font-medium text-gray-800">
            {{ folder.folder_name }}
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="sortedFileList && sortedFileList.length > 0">
      <h2 class="text-lg font-semibold mb-4">Files</h2>
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6">
        <div
          *ngFor="let file of sortedFileList"
          class="relative bg-white rounded-lg shadow p-4 cursor-pointer hover:shadow-lg transition"
        >
          <button
            mat-icon-button
            [matMenuTriggerFor]="fileMenu"
            class="absolute top-2 right-2"
            (click)="$event.stopPropagation()"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #fileMenu="matMenu">
            <button mat-menu-item (click)="download(file)">
              <mat-icon>download</mat-icon>
              <span>Download File</span>
            </button>
            <button mat-menu-item (click)="delete(file)">
              <mat-icon>delete</mat-icon>
              <span>Delete File</span>
            </button>
          </mat-menu>

          <div class="flex justify-center">
            <ng-container [ngSwitch]="file.mime_type">
              <mat-icon
                *ngSwitchCase="'application/pdf'"
                class="text-6xl text-red-500 mb-4"
                style="height: 6rem !important"
                >picture_as_pdf</mat-icon
              >

              <mat-icon
                *ngSwitchCase="'image/jpeg'"
                class="text-6xl text-orange-500 mb-4"
                style="height: 6rem !important"
                >image</mat-icon
              >

              <mat-icon
                *ngSwitchCase="'text/plain'"
                class="text-6xl text-gray-500 mb-4"
                style="height: 6rem !important"
                >description</mat-icon
              >

              <mat-icon
                *ngSwitchCase="'application/vnd.ms-excel'"
                class="text-6xl text-green-500 mb-4"
                style="height: 6rem !important"
                >grid_on</mat-icon
              >

              <mat-icon
                *ngSwitchCase="'application/msword'"
                class="text-6xl text-blue-500 mb-4"
                style="height: 6rem !important"
                >description</mat-icon
              >

              <mat-icon
                *ngSwitchCase="'application/vnd.ms-powerpoint'"
                class="text-6xl text-red-500 mb-4"
                style="height: 6rem !important"
                >present_to_all</mat-icon
              >

              <mat-icon
                *ngSwitchCase="'image/png'"
                class="text-6xl text-teal-500 mb-4"
                style="height: 6rem !important"
                >image</mat-icon
              >

              <mat-icon
                *ngSwitchCase="'audio/mpeg'"
                class="text-6xl text-purple-500 mb-4"
                style="height: 6rem !important"
                >audiotrack</mat-icon
              >

              <mat-icon
                *ngSwitchCase="'video/mp4'"
                class="text-6xl text-yellow-500 mb-4"
                style="height: 6rem !important"
                >videocam</mat-icon
              >

              <mat-icon
                *ngSwitchCase="'video/x-matroska'"
                class="text-6xl text-yellow-500 mb-4"
                style="height: 6rem !important"
                >videocam</mat-icon
              >

              <mat-icon
                *ngSwitchCase="'application/zip'"
                class="text-6xl text-indigo-500 mb-4"
                style="height: 6rem !important"
                >archive</mat-icon
              >

              <mat-icon
                *ngSwitchDefault
                class="text-6xl text-blue-500 mb-4"
                style="height: 6rem !important"
                >insert_drive_file</mat-icon
              >
            </ng-container>
          </div>
          <p class="text-center font-medium text-gray-800 truncate">
            {{ file.file_name }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div (contextmenu)="onRightClick($event)" #menuContainer>
    <button
      [matMenuTriggerFor]="menu"
      #menuTrigger="matMenuTrigger"
      style="opacity: 0 !important; width: 0; height: 0"
    >
      <mat-icon>add</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="createFolder()">
        <mat-icon>folder</mat-icon><span>Create Folder</span>
      </button>
      <button mat-menu-item (click)="uploadFile.click()">
        <mat-icon>upload_file</mat-icon><span>Upload Files</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="sortBy">
        <mat-icon>sort</mat-icon><span>Sort By</span>
      </button>

      <mat-menu #sortBy="matMenu">
        <button mat-menu-item (click)="sort('date')">
          <mat-icon>schedule</mat-icon><span>Uploaded Date</span>
        </button>
        <button mat-menu-item (click)="sort('name')">
          <mat-icon>sort_by_alpha</mat-icon><span>Name</span>
        </button>
      </mat-menu>
    </mat-menu>
  </div>
</div>
