<div class="md:flex">
  <div class="md:flex-none w-full max-w-md mx-auto p-4">
    <form [formGroup]="form" (ngSubmit)="formSubmit()">
      <mat-form-field class="w-full">
        <mat-label>Train</mat-label>
        <input
          type="text"
          matInput
          formControlName="trainNo"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredTrainList"
            [value]="option.number + ' - ' + option.name"
          >
            {{ option.number }} - {{ option.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix>train</mat-icon>
      </mat-form-field>

      <mat-form-field *ngIf="form.get('trainNo')?.valid" class="w-full">
        <mat-label>Journey Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"
          [min]="getYesterday()"
          [max]="getTomorrow()"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field *ngIf="form.get('date')?.valid" class="w-full">
        <mat-label>Boarding Station</mat-label>
        <mat-select formControlName="boardingStation">
          <mat-option
            *ngFor="let item of trainDetails?.stationList"
            [value]="item.stationCode"
          >
            {{ item.stationName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button type="submit" [disabled]="form.invalid">
        Submit
      </button>
    </form>
  </div>

  <div class="md:flex-1 p-4">
    <table
      *ngIf="trainDetails"
      class="table-auto w-full border border-collapse"
    >
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="p-2">#</th>
          <th class="p-2">Code</th>
          <th class="p-2">Station Name</th>
          <th class="p-2">Arrival</th>
          <th class="p-2">Departure</th>
          <th class="p-2">Halt</th>
          <th class="p-2">Platform</th>
          <th class="p-2">Distance</th>
          <th class="p-2">Day</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let item of trainDetails.stationList; let i = index"
          class="{{
            i % 2 === 0 ? 'bg-gray-100' : 'bg-white'
          }} hover:bg-gray-200"
        >
          <td class="p-2">{{ i + 1 }}</td>
          <td class="p-2">{{ item.stationCode }}</td>
          <td class="p-2">{{ item.stationName }}</td>
          <td class="p-2">{{ item.arrivalTime }}</td>
          <td class="p-2">{{ item.departureTime }}</td>
          <td class="p-2">{{ item.haltTime }}</td>
          <td class="p-2">{{ item.stnSerialNumber }}</td>
          <td class="p-2">{{ item.distance }}</td>
          <td class="p-2">{{ item.dayCount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
