<div class="relative h-screen flex items-center justify-center bg-black">
  <div class="absolute top-0 right-0 p-4 flex gap-4">
    <mat-icon
      class="text-white cursor-pointer"
      aria-hidden="false"
      matTooltip="Edit Info"
      (click)="comingSoon()"
      >info</mat-icon
    >
    <mat-icon
      class="text-white cursor-pointer"
      aria-hidden="false"
      matTooltip="Make Favorite"
      (click)="comingSoon()"
      >star</mat-icon
    >
    <mat-icon
      class="text-white cursor-pointer"
      aria-hidden="false"
      matTooltip="Delete"
      (click)="deleteImage()"
      >delete</mat-icon
    >
    <mat-icon
      class="text-white cursor-pointer"
      aria-hidden="false"
      [matMenuTriggerFor]="menu"
      >more_vert</mat-icon
    >
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="comingSoon()">
      <mat-icon>download</mat-icon> Download
    </button>
    <button mat-menu-item (click)="comingSoon()">
      <mat-icon>library_add</mat-icon> Add to Album
    </button>
  </mat-menu>

  <img [src]="imageUrl" alt="" class="max-w-full max-h-full" />
</div>
