.movie-header {
  div {
    background-position: left calc((50vw - 170px) - 340px) top;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.dot {
  font-size: 1.1em;
  line-height: 1;
  content: "\2022";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 7px;
  display: inline-flex;
  align-content: center;
  align-items: center;
  z-index: -1;
}

mat-progress-spinner {
  width: 80px !important;
  height: 80px !important;
}
