<h1 mat-dialog-title>Select Language</h1>

<div mat-dialog-content>
  <form class="w-full">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Select Language</mat-label>
      <input matInput [matAutocomplete]="auto" [formControl]="languageCtrl" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let lang of filteredlanguages | async"
          [value]="lang.language"
          (onSelectionChange)="getLanguage(lang)"
        >
          <span>{{ lang.language }}</span> |
          <small> {{ lang.author }}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
