.table-section {
  height: calc(100vh - 200.5px);
  overflow: auto;
}

table {
  width: 100%;
}

.mat-column-createdAt {
  width: 200px !important;
}

@media (width<=768px) {
  .table-section {
    height: calc(100vh - 399px);
  }
}
