<div *ngIf="details">
  <div class="flex flex-col md:flex-row md:gap-4 p-8">
    <div class="basis-1/4">
      <div class="mb-4">
        <img
          [src]="imageUrlPrefix + 'original' + details.profile_path"
          alt=""
          class="rounded-lg"
        />
      </div>
      <div class="text-center text-2xl font-bold md:hidden">
        {{ details.name }}
      </div>
      <div class="text-xl md:text-2xl font-bold pb-2">Personal Info</div>
      <div class="grid grid-cols-2 md:grid-cols-1">
        <div>
          <div class="text-lg font-bold">Known For</div>
          <div class="text-sm pb-2">{{ details.known_for_department }}</div>
        </div>

        <div>
          <div class="text-lg font-bold">Known Credits</div>
          <div class="text-sm pb-2">{{ credits.cast.length }}</div>
        </div>

        <div>
          <div class="text-lg font-bold">Gender</div>
          <div class="text-sm pb-2">
            {{
              details.gender == 1
                ? "Female"
                : details.gender == 2
                ? "Male"
                : "Other"
            }}
          </div>
        </div>

        <div>
          <div class="text-lg font-bold">Birthday</div>
          <div class="text-sm pb-2">
            {{ details.birthday | date : "dd MMM yyyy" }} ({{ details.age }}
            years old)
          </div>
        </div>

        <div>
          <div class="text-lg font-bold">Place of Birth</div>
          <div class="text-sm pb-2">
            {{ details.place_of_birth }}
          </div>
        </div>

        <div class="hidden md:block">
          <div class="text-lg font-bold">Also Known As</div>
          <div *ngFor="let item of details.also_known_as" class="text-sm pt-1">
            {{ item }}
          </div>
        </div>
      </div>
    </div>
    <div class="basis-3/4">
      <div class="hidden md:block text-3xl font-bold pb-6">
        {{ details.name }}
      </div>
      <div class="text-xl font-bold pb-3">BioGraphy</div>

      <div class="text-justify pb-4" [innerHTML]="details.biography"></div>

      <div class="text-xl">Know For</div>
      <div
        *ngIf="credits.cast"
        class="flex flex-nowwrap gap-4 w-full overflow-y-auto pb-8"
      >
        <div
          *ngFor="let item of credits.cast.slice(0, 5)"
          class="w-32 rounded-b-lg shadow-xl cursor-pointer"
          (click)="getDetail(item)"
        >
          <div class="w-32">
            <img
              [src]="imageUrlPrefix + 'w400' + item.poster_path"
              alt="profile pic not available"
              class="object-cover w-full rounded-t-lg"
            />
            <div class="m-2 text-black">
              <div class="text-secondary text-sm mt-1">
                {{ item.character }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- All Work -->
      <div class="border rounded-none shadow-md p-1">
        <div *ngFor="let item of workList" class="border-b pb-1 mb-2">
          <li>
            <span class="font-bold cursor-pointer" (click)="getDetail(item)">{{
              item.title || item.name
            }}</span>
            <span *ngIf="item.episode_count">
              ({{ item.episode_count }} episode<span
                *ngIf="item.episode_count > 1"
                >s</span
              >)</span
            >
            <span *ngIf="item.character || item.job">
              as {{ item.character || item.job }}</span
            >
          </li>
        </div>
      </div>
    </div>
  </div>
</div>
