<form
  [formGroup]="statusForm"
  (ngSubmit)="onSubmitStatusForm()"
  class="flex flex-row justify-center gap-4"
>
  <mat-form-field class="w-96">
    <mat-label>Train</mat-label>
    <input
      type="text"
      placeholder="Train"
      formControlName="train"
      matInput
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of trainList" [value]="option.trainNumber">
        {{ option.trainNumber }} - {{ option.trainName }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Boarding</mat-label>
    <mat-select formControlName="boarding">
      <mat-option *ngFor="let item of trainStations" [value]="item.stationCode">
        {{ item.stationName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div
    class="flex flex-row justify-center text-center gap-2"
    *ngIf="statusForm.get('boarding')?.value != null"
  >
    <div
      *ngFor="let item of getDateObjects(); let i = index"
      class="border rounded-xl cursor-pointer p-4"
      [ngClass]="{ 'bg-green-400': selectedIndex === i }"
      (click)="setDate(item, i)"
    >
      <div>{{ item | date : "MMM d" }}</div>
      <div *ngIf="i == 0">{{ item | date : "EEE" }}</div>
      <div *ngIf="i == 1">Yesterday</div>
      <div *ngIf="i == 2">Today</div>
      <div *ngIf="i == 3">Tomorrow</div>
    </div>
  </div>

  <button
    mat-raised-button
    class="my-auto"
    color="primary"
    type="submit"
    [disabled]="statusForm.invalid"
  >
    Search
  </button>
</form>

<div *ngIf="trainStatus" class="mt-4">
  Train Number: {{ this.statusForm.get("train")?.value }}

  <div class="mt-2 w-full">
    <div class="flex bg-gray-200">
      <div class="flex py-2 px-4"></div>
      <div class="flex-1 py-2 px-4 font-bold">Station</div>
      <div class="flex-1 py-2 px-4 font-bold">Arrival</div>
      <div class="flex-1 py-2 px-4 font-bold">Departure</div>
      <div class="flex-1 py-2 px-4 font-bold">PF/Halt</div>
    </div>
    <div *ngFor="let item of trainStatus.stations; let i = index">
      <div class="flex gap-4">
        <div
          [class.bg-green-500]="isTrainLeft(item)"
          [class.bg-gray-300]="!isTrainLeft(item)"
          class="flex p-1"
        ></div>

        <div class="flex-1 py-2 px-4">{{ item.stationName }}</div>
        <div class="flex-1 py-2 px-4">
          <div>{{ item.arrivalTime }}</div>
          <div
            [ngClass]="{
              'text-red-400': isTrainLate(item, 'arrival'),
              'text-green-400': !isTrainLate(item, 'arrival')
            }"
          >
            {{ item.actual_arrival_time }}
          </div>
        </div>
        <div class="flex-1 py-2 px-4">
          <div>{{ item.departureTime }}</div>
          <div
            [ngClass]="{
              'text-red-400': isTrainLate(item, 'departure'),
              'text-green-400': !isTrainLate(item, 'departure')
            }"
          >
            {{ item.actual_departure_time }}
          </div>
        </div>
        <div class="flex-1 py-2 px-4">{{ item.expected_platform }}</div>
      </div>

      <div
        *ngIf="trainStatus.current_station === item.stationCode"
        class="w-fit"
      >
        <div class="border rounded-xl flex gap-3">
          <div class="bg-black rounded-l-xl text-white p-2">
            {{ trainStatus.time_of_availability }}
          </div>
          <div class="p-2">
            {{ trainStatus.train_status_message }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
